*{margin:0;padding:0;}
body {
	font-family: Verdana, sans-serif;
}
canvas {
	display:block;
	background-color: #DDD;
}
#wrapper {
	position:relative;
}
#toolBar {
	position:fixed;
	top:0;
	padding:4px;
	transition: 0.5s;
}
#toolBar button {
	background:#222;
	height:39px;
	width:40px;
	outline:none;
	border:none;
	display:block;
	float:left;
}
#toolBar button.selected, #toolBar button:hover {
	background-color:#BBB;
}
.btnGroup {
	float:left;
	margin-right:8px;
	border: 1px solid #222;
}
button.selected svg, button:hover svg {
	stroke:#222;
}
button:active svg {
	transform: translateY(1px);
}
#statusBar {
	position:fixed;
	bottom:0;
	width:100%;
	height:1.5rem;
	background-color:#222;
	color:#DDD;
	font-size:0.75rem;
	line-height:1.5rem;
}
svg {
	stroke-width:2px;
	stroke:#DDD;			
}