*{margin:0;padding:0;}
body {
	font-family: Verdana, sans-serif;
}
canvas {
	display:block;
	background-color: #DDD;
}
#wrapper {
	position:relative;
}
#toolBar {
	position:fixed;
	top:0;
	padding:4px;
	transition: 0.5s;
}
#toolBar button {
	background:#222;
	height:31px;
	width:32px;
	outline:none;
	border:none;
}
#statusBar {
	position:fixed;
	bottom:0;
	width:100%;
	height:1.5rem;
	background-color:#222;
	color:#DDD;
	font-size:0.75rem;
	line-height:1.5rem;
}
svg {
	stroke-width:2px;
	stroke:#DDD;			
}